@page
@using DanilDev.Services.Prices.Entity
@model DanilDev.Pages.Prices.AddPriceModel
@{
    ViewData["Title"] = "Add Price";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>

    <div class="row">
        <div class="col-lg-6">            
            <hr />
            <div class="form-group">
                <label>Name</label>
                <input id="priceName" name="priceName" class="form-control" />
            </div>
            <div class="form-group">
                <label>Columns:</label>
                <button id="addColBtn" type="button" class="btn btn-sm small btn-success float-right mb-2">Add Column</button>
                <div id="additionalCols">
                    @*filling by function*@
                </div>
            </div>
            
            <button id="submit_btn" type="submit" class="btn btn-primary">Add Price</button>
        </div>
    </div>
    <script type="text/javascript">   
        //Add column 
        $("#addColBtn").click(function () {            
            let colNumber = $("#additionalCols > .input-group").length + 1;
            let colFields = `<div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Col ${colNumber}</span>
                        </div>
                        <input type="text" name="colName" class="form-control" />
                        <select name="colType" class="custom-select bg-light">
                            <option selected disabled>Select Type</option>
                            @foreach (var colType in @Enum.GetValues<TypeColumn>())
                            {
                                <option value=@colType>@colType</option>
                            }
                        </select>
                        <button id="col_${colNumber}" type="button" class="btn btn-outline-danger btn-sm ml py-1" onclick="delCol(this)">×</button>
                    </div>`;
            $("#additionalCols").append(colFields);
        });

        function delCol(callingElem) {
            $(callingElem).parent().remove();

            //rename column
            let i = 1;
            $("#additionalCols > .input-group").each(function (index, element) {
                console.log(element);
                let colTitle = $("div > span", element);
                colTitle.text(`Col ${i}`);
                i++;                               
            });
        };
        

        //Add Price and return to referrer page
        $("#submit_btn").click(function () {
            let columns = [];
            let lines = [];
            let columnsQuery = $("#additionalCols > .input-group");
            
            columnsQuery.each(function (index, element) {
                let col = {
                    name : $("input[name=colName]", element).val(),
                    type : $("select", element).val()
                }                     
                columns.push(col);                
            });

            let price = {
                Id : 0,
                Name : $("#priceName").val(),
                Columns : columns,
                Lines : lines
            };
                        
            $.post('/api/Prices/addprice',
                price
                ,'json'
            );
            debugger;
            //return to referrer page
            $(location).attr('href', document.referrer);
        })
    </script>
</div>

