@page 
@model Asp_In_Action.Pages.CostControl.IndexModel
@{
    ViewData["Title"] = "CostControl";
}

<div>
    <form method="get" action="costcontrol/Index">
        <input name="text" />
        <input type="submit" value="post" />
    </form>

    <p>@Model.Message</p>
</div>
