@page
@model Add_Razor_To_Empty_Project.Pages.MyModel
@{
}

<div>
    <h2>Hello </h2>
    Name = "@Model.Name"<br />
    Age = "@Model.Age"<br />
    Message = "@Model.Message"<br />
    Test = "@Model.Test"<br />


</div>