@page
@model DanilDev.Pages.EmployeeDirectory.Departments.AddModel
@{
    ViewData["Title"] = "Add Department";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <form action="" method="post">
            <input id="referrer" type="hidden" name="referrer" />
            <script>
                referrer.value = document.referrer;
            </script>
            <hr />            
            <div class="form-group">
                <label>Organization</label>
                <select id="departmentOrganizationSelect" name="departmentOrganizationId" class="input-group" >
                    <option selected disabled>Select Organization</option>
                    @foreach (var organization in @Model.Organizations)
                    {
                        <option value=@organization.Id >
                            @organization.Name
                        </option>
                    }
                </select>
            </div>  
            <div id="nameGroup" style="display: none" class="form-group">
                <label>Name</label>
                <input name="departmentName" class="form-control" />
            </div>
            
            
            <button type="submit" class="btn btn-primary">Add Department</button>
        </form>   
        <script type="text/javascript">            
            $(function () {
                $("#departmentOrganizationSelect").bind('change', function () {
                    $("#nameGroup").show(400);                    
                });
            });
        </script>
    </div>
</div>
