@page
@model DanilDev.Pages.EmployeeDirectory.Departments.IndexModel
@{
    ViewData["Title"] = "Departments";
}

<div class="container">
    <form id="mainForm" method="get" hidden>
        <input id="qInput" name="q" />
    </form>

    <div class="row justify-content-md-between">
        <div class="col-md">
            <p class="display-4">Departments</p>
        </div>

        <div class="col-md-3 align-self-end">
            <div class="input-group mb-3">
                <input type="search" id="searchInput" class="form-control" placeholder="search" aria-describedby="searchButton" value=@Model.q>
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="button" id="searchButton">🔍</button>
                </div>
            </div>
        </div>
        <script>
            $("#searchButton").click(function () {
                let query = $("#searchInput").val();
                $("#qInput").attr('value', query);
                $("#mainForm").submit();

            });

            $("#searchInput").keyup(function(event){
                if(event.keyCode == 13){
                    $("#searchButton").click();
                }
            });

            $("#searchInput").bind('search', function () {
                $("#searchButton").click();
            });
        </script>
    </div>
    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs mb-1">
                <li class="nav-item">
                    <a class="nav-link" href="/EmployeeDirectory">Employees</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Organizations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="">Departments</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <table class="table table-sm table-responsive-sm table-hover shadow">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Full Name</th>
                        <th scope="col">Organization</th>
                        <th scope="col">Department</th>
                        <th scope="col">Position</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col"><a class="btn btn-primary" href="EmployeeDirectory/Employees/Add" role="button">Add Employee</a></th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < @Model.Employees.Count; i++)
                    {
                        var employee = Model.Employees[i];
                        <tr>
                            <td>
                                @(i + 1)
                            </td>
                            <td>
                                @employee?.FullName
                            </td>
                            <td>
                                @employee?.Organization?.Name
                            </td>
                            <td>
                                @employee?.Department?.Name
                            </td>
                            <td>
                                @employee?.Position
                            </td>
                            <td>
                                @employee?.Email
                            </td>
                            <td>
                                @employee?.Phone
                            </td>
                            <td class="d-flex justify-content-end">
                                <a class="btn btn-outline-success btn-sm float-center px-1" href="EmployeeDirectory/Employees/Edit/@employee.Id" role="button">✎</a>
                                <button type="button" class="btn btn-outline-danger btn-sm ml-3 py-1" onclick="delEployee(@employee.Id)">х</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <form id="employeeToDelForm" name="transactToDelForm" action="EmployeeDirectory/Employees/Del" method="post">
                <input id="employeeToDelInput" type="hidden" name="employeeToDelId" />
                <input id="referrer" type="hidden" name="referrer" />
            </form>
            <script>
                function delEployee(employeeId) {
                    if (employeeId !== undefined &&
                        employeeId != 0) {

                        referrer.value = window.location.href;
                        employeeToDelInput.value = employeeId;

                        employeeToDelForm.submit();
                     }
                }
            </script>
        </div>
    </div>
</div>