@page
@model DanilDev.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}

<div>
    <h1 class="mb-4">Contact:</h1>
    <p>
            <img src="~/img/icon/mail.svg" width="50" height="50" class="mr-3" />
            Bogdanov@danilDev.net
    </p>
    <p>
        <a href="https://linkedin.com/in/danil-bogdanov/">
            <img src="~/img/icon/linkedin_r.svg" width="50" height="50" class="mr-3"/>
            <span class="text-dark">linkedin.com/in/danil-bogdanov/</span>
        </a>
    </p>
    <p>
        <a href="https://github.com/DanilBogdanov">
            <img src="~/img/icon/github.svg" width="50" height="50" class="mr-3"/>
            <span class="text-dark">github.com/DanilBogdanov</span>
        </a>
    </p>
</div>