@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <p id="greetings" class="display-4"></p>
    <script>
        let currentHour = new Date().getHours();
        let greetingsOfTime;
        let userName = "";

        try {
            userName = UserIdentityName.innerHTML;
        } catch (e) {

        }

        if (currentHour < 6) {
            greetingsOfTime = "Good Night";
        } else if(currentHour < 12) {
            greetingsOfTime = "Good Morning ";
        } else if (currentHour < 18) {
            greetingsOfTime = "Good Afrernoon ";
        } else {
            greetingsOfTime = "Good Evening ";
        }

        greetings.innerHTML = greetingsOfTime + "<br/>" + userName;        
    </script>

</div>

