@page
@using DanilDev.Data
@using Microsoft.AspNetCore.Identity
@model IndexModel
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <p id="greetings" class="display-4"></p>
    <p id="userName" class="display-4"></p>
    <script>
        let currentHour = new Date().getHours();
        let greetingsOfTime;
        
        if (currentHour < 6) {
            greetingsOfTime = "Good Night";
        } else if(currentHour < 12) {
            greetingsOfTime = "Good Morning ";
        } else if (currentHour < 18) {
            greetingsOfTime = "Good Afrernoon ";
        } else {
            greetingsOfTime = "Good Evening ";
        }

        greetings.innerHTML = greetingsOfTime; 
        userName.innerHTML = "@User.Identity.Name";
    </script>
</div>
